:root {
    --pink: #f5e8eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 37px;
    color: brown;
}


.container {

    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    font-size: 70px;
}

.box:hover {
    cursor: pointer;
}

.bleft {
    border-left: none;

}

.bright {
    border-right: none;
}

.btop {
    border-top: none;
}

.bbotton {
    border-bottom: none;
}

button {
    padding: 7px 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    border-color: var(--pink);
    font-family: sans-serif;
    color: green;
    font-weight: bolder;
    border: solid 1px green;
}

button:hover {
    cursor: pointer;
    background-color: rgb(244, 241, 201);
}
















